.footer {
	background: #1c2b33;
	&-firm {
		font-size: 40px;
		color: #fff;
	}
	.color {
		color: $accent;
	}
	&-text {
		font-size: 14px;
		color: #b2b2b2;
	}
	&-title {
		font-size: 18px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&-img {
		height: 100px;
		width: 200px;
	}
	&-post {
		font-size: 16px;
		color: #ffffff;
		text-transform: uppercase;
		&:hover {
			color: $accent;
		}
	}
	&-data {
		font-size: 14px;
		color: #f1f1f1;
	}
	&-recent {
		border-bottom: 1px solid #294453;
		&:last-child {
			border-bottom: none;
		}
	}
	&-tag {
		color: #b8b8b8;
		font-size: 14px;
		height: 40px;
		width: 70px;
		border: 1px solid #acacac;
		span {
			cursor: pointer;
			transition: all 0.3s ease;
		}
		&span,
		:hover,
		span.active {
			color: #fff;
			background: $accent;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&-content {
		border-bottom: 1px solid #294453;
	}
	&-input {
		width: 200px;
		height: 40px;
		background: #22353f;
		border: none;
		color: #fff;
	}
	&-btn {
		background: #294453;
		color: $accent;
		min-width: 45px;
		height: 40px;
		border: none;
		border-radius: 0;
	}
	&-left-img {
		height: 75px;
		width: 75px;
	}
}
// copyrights
.copyrights {
	background: #22353f;
	min-height: 50px;
	&-text {
		font-size: 14px;
		color: #aeaeae;
	}
	.color {
		color: $accent;
	}
}