// HEADER
.header {
	background: #44433e;
	height: 120px;
	display: flex;
	align-items: center;
	&_content {
		display: flex;
		align-items: center;
	}
	// &_logo {
	// 	width: 30%;
	// }
	&_menu {
		font-size: 14px;
		color: #b8b8b8;
		margin-right: 15px;
		&:hover {
			color: #18cfab;
		}
		// &_content {
		// 	width: 60%;
		// }
	}
	// &_search {
	// 	width: 30%;
	// }
	&_btn {
		background: none;
		border: none;
	}
}