@import "variables";

/* ==========  Desktop First  ========== */

/* ≥1200px */
@include media-breakpoint-down(lg) {
    .keep-touch-input,
    .keep-touch-textarea,
    .keep-touch-button {
        width: 100%;
    }
    .about_skill {
        width: 450px;
    }
    .services-tabs {
        width: 150px;
    }
    .worker-opinion-slider .owl-next {
        right: -740px;
    }
    .block-design-title {
        font-size: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media only screen and (max-width: 1023px) {
    .main_title,
    .main_clause_color {
        font-size: 50px;
    }
    .main_text {
        font-size: 26px;
    }
    .block_text {
        font-size: 15px;
    }
    .about_skill {
        width: 350px;
    }
    .services-tabs {
        width: 115px;
    }
    .product-content {
        text-align: center;
    }
    .product-title {
        font-size: 30px;
    }
    .new-content {
        height: auto;
        padding-bottom: 10px;
    }
    .new-item {
        font-size: 16px;
    }
    .new-bottom {
        font-size: 12px;
    }
    .worker-opinion-slider .owl-next {
        right: -640px;
    }
    .worker-opinion-slider .owl-prev {
        left: 80px;
    }
    .block-design-title {
        font-size: 30px;
    }
}

/* ≥992px */
@include media-breakpoint-down(md) {

}

/* ≥768px */
@include media-breakpoint-down(sm) {
    .main_clause,
    .main_clause_color {
        font-size: 26px;
    }
    .main_title {
        font-size: 24px;
    }
    // .header_content {
    //     background: white;
    //     height: 80px;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 3;
    //     transition: all .3s ease;
    // }
    // .header_menu {
    //     color: black;
    // }
    // .header_menu_content {
    //     position: fixed;
    //     left: 0;
    //     right: 0;
    //     top: 80px;
    //     background: #fff;
    //     display: flex;
    //     flex-direction: column;
    //     opacity: 0;
    //     visibility: inherit;
    //     transition: all 0.3 ease;
    // }
    // .header_logo_the {
    //     color: black;
    // }
    // .header_menu_content.active {
    //     opacity: 1;
    //     visibility: visible;
    // }

    .header {
        background:blue;
        z-index: 3;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        color: #fff;
        transition: all 0.3s ease;
    }
    .header_menu.active {
        opacity: 1;
        visibility: visible;
    }
    .header_menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 80px;
        background: black;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3 ease;
    }
    .burger {
        display: block;
    }
}

/* ≥576px */
@include media-breakpoint-down(xs) {
}
@media (max-width: 320px) {
}

/* ==========  Mobile First  ========== */

/* ≤576px */
@include media-breakpoint-up(sm) {

}

/* ≤768px */
@include media-breakpoint-up(md) {

}

/* ≤992px */
@include media-breakpoint-up(lg) {

}

/* ≤1200px */
@include media-breakpoint-up(xl) {

}

