@import "variables";

/* ==========  Desktop First  ========== */

/* ≥1200px */
@include media-breakpoint-down(lg) {
    .keep-touch-input,
    .keep-touch-textarea,
    .keep-touch-button {
        width: 100%;
    }
    .about_skill {
        width: 450px;
    }
    .services-tabs {
        width: 150px;
    }
    // .worker-opinion-slider .owl-next {
    //     right: -740px;
    // }
    .block-design-title {
        font-size: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media only screen and (max-width: 1023px) {
    .main_title,
    .main_clause_color {
        font-size: 50px;
    }
    .main_text {
        font-size: 26px;
    }
    .block_text {
        font-size: 15px;
    }
    .about_skill {
        width: 100%;
    }
    .services-tabs {
        width: 115px;
    }
    .product-content {
        text-align: center;
    }
    .product-title {
        font-size: 30px;
    }
    .new-content {
        height: auto;
        padding-bottom: 10px;
    }
    .new-item {
        font-size: 16px;
    }
    .new-bottom {
        font-size: 12px;
    }
    // .worker-opinion-slider .owl-next {
    //     right: -640px;
    // }
    // .worker-opinion-slider .owl-prev {
    //     left: 80px;
    // }
    .block-design-title {
        font-size: 30px;
    }
    .about {
        padding: 10px;
    }
    .header_logo_the,
    .header_btn {
        color: black;
    }
    .header {
        background:#fff;
        z-index: 3;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        color: #fff;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
    .header_menu.active {
        opacity: 1;
        visibility: visible;
    }
    .header_menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 80px;
        background: #fff;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3 ease;
    }
    .header_item {
        color: black;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border;
    }
    .header_item:last-child {
        border-bottom: none;
    }
    .burger {
        display: block;
    }
    .header_logo {
        width: 80%;
    }
    .about-check {
        width: 40px;
    }
    .services-tabs {
        text-align: center;
    }
}

/* ≥992px */
@include media-breakpoint-down(md) {

}

/* ≥768px */
@include media-breakpoint-down(sm) {
    .main_clause,
    .main_clause_color {
        font-size: 26px;
    }
    .main_title {
        font-size: 24px;
    }
    // .header_content {
    //     background: white;
    //     height: 80px;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 3;
    //     transition: all .3s ease;
    // }
    // .header_menu {
    //     color: black;
    // }
    // .header_menu_content {
    //     position: fixed;
    //     left: 0;
    //     right: 0;
    //     top: 80px;
    //     background: #fff;
    //     display: flex;
    //     flex-direction: column;
    //     opacity: 0;
    //     visibility: inherit;
    //     transition: all 0.3 ease;
    // }
    // .header_logo_the {
    //     color: black;
    // }
    // .header_menu_content.active {
    //     opacity: 1;
    //     visibility: visible;
    // }
    .header_logo_the,
    .header_btn {
        color: black;
    }
    .header {
        background:#fff;
        z-index: 3;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        color: #fff;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
    .header_menu.active {
        opacity: 1;
        visibility: visible;
    }
    .header_menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 80px;
        background: #fff;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3 ease;
    }
    .header_item {
        color: black;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border;
    }
    .header_item:last-child {
        border-bottom: none;
    }
    .burger {
        display: block;
    }
    .block {
        flex-direction: column;
    }
    .about {
        height: auto;
        padding: 20px;
    }
    .about-media {
        margin-right: 20px !important;
    }
    .about-check {
        width: 35px;
    }
    .amazing-work-media {
        padding: 10px !important;
    }
    .amazing-work-media span {
        font-size: 10px;
    }
    .amazing-work-img {
        width: 50%;
    }
    .services-tabs {
        text-align: center;
        font-size: 14px;
        border-right: 1px solid $border;
    }
    .services-tabs.active:before {
        border: 0 solid transparent;
        border-top: 0 solid #18cfab;
    }
    .services-block {
        flex-direction: column;
    }
    .services-img {
        margin-bottom: 10px;
    }
    .new-content {
        margin-left: auto;
        margin-right: auto;
    }
    .block-bottom-block {
        flex-direction: column;
    }
    .block-bottom {
        width: 100%;
    }
    .pricing-table-content-block {
        flex-direction: column;
    }
    .pricing-table-content {
        width: 100%;
        margin-bottom: 20px;
    }
    .about_title {
        text-align: center;
    }
    .about .decoration {
        margin-left: auto;
        margin-right: auto;
    }
    .worker-opinion-carusel {
        margin-left: 0;
    }
    .team-content {
        margin-bottom: 15px;
    }
    .block-design-title {
        font-size: 20px;
    }
    .block-design-block {
        flex-direction: column;
    }
    .block-design-content {
        width: 100%;
        padding: 10px;
    }
    .block-design-img {
        height: auto;
    }
    // .block-design-table {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    .keep-touch {
        flex-direction: column-reverse;
    }
    .keep-touch-map,
    .keep-touch-content {
        width: 100%;
    }
    .keep-touch-content {
        margin-left: 0;
        padding: 20px;
    }
    .keep-touch-title {
        text-align: center;
    }
    .keep-touch .line {
        margin-left: auto;
        margin-right: auto;
    }
    .worker-opinion-slider .owl-prev {
        left: 0;
    }
    .worker-opinion-slider .owl-next {
        right: 0;
    }
    .footer-content-left-img {
        justify-content: space-around;
    }
    .footer-input {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-tag {
        width: 100%;
    }
}

/* ≥576px */
@include media-breakpoint-down(xs) {
}
@media (max-width: 320px) {
}

/* ==========  Mobile First  ========== */

/* ≤576px */
@include media-breakpoint-up(sm) {

}

/* ≤768px */
@include media-breakpoint-up(md) {

}

/* ≤992px */
@include media-breakpoint-up(lg) {

}

/* ≤1200px */
@include media-breakpoint-up(xl) {

}

